.header img{
    height: 80px;
}
.header{
   text-align: center;
}
.header nav{
   background-color: black;
   line-height: 40px;
    font-size: 20px;
}
.header nav a{
    color: blanchedalmond;
    padding: 0 15px;
    text-decoration: none;
}
.header nav a:hover{
    background-color: blanchedalmond;
    color: black;
}